<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CATSPIM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <applicationSettings>
        <CATSPIM.My.MySettings>
            <setting name="connString" serializeAs="String">
                <value>Data Source=asz-42jc23x;Initial Catalog=CATS;User ID=sa;Password=Asc4tore</value>
            </setting>
            <setting name="SAPReqURLOld" serializeAs="String">
                <value>http://homeapps.commscope.com/CableAssemblyGWS/api/ItemDetails/GetAllProducts/AA/</value>
            </setting>
            <setting name="Plant" serializeAs="String">
                <value>CN10</value>
            </setting>
            <setting name="SAPReqURL" serializeAs="String">
                <value>http://apps.commscope.com/CableAssemblyGWS/api/ItemDetails/GetAllProducts/AA/</value>
            </setting>
        </CATSPIM.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
